In [1]:

N=100
passed=80
fail_one=10
fail_two=7
fail_three=3

In [7]:
import pandas as pd
dist = pd.DataFrame({'Failed':[passed/N,fail_one/N,fail_two/N,fail_three/N]})

In [10]:
dist

   Failed
0    0.80
1    0.10
2    0.07
3    0.03

In [12]:
dist.mean()

Failed    0.25
dtype: float64

In [13]:
dist.var()

Failed    0.135267
dtype: float64